*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Space Mono', monospace;
    color: var(--textCyan);
    background-color: var(--backgroundCyan);
}


:root{
    --textCyan: hsl(183, 100%, 15%);
    --backgroundCyan: hsl(183, 100%, 95%);
    --darkGrayCyan: rgba(235 243 244 /.5);
    --tipBGCyan: hsl(183, 90%, 16%);
    --highLightCyan:  hsl(172, 77%, 48%);
    --abovePersonColor: rgb(218, 241, 234); 
    --underPersonColor: rgb(196, 197, 197);
    --hoverEffect: rgb(139, 230, 216);

}

#title{

font-size: 1.5em;
letter-spacing: 20px;
width: 146px;
overflow-wrap: break-word;
line-height: 1.6em;
text-align: center;
font-weight: 900;

}
#mainBody{

height: 90%;
min-width: 90%;
background-color: white;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
#innerBody{

height: 100%;
max-width: 90%;


}

.sectionTitle{
max-width: 100%;
}
.errorMessageHolder{

display: flex;
justify-content: space-between;

position: relative;
left: 6px;


}
#errorMessage {
    display: none;
    color: orange;
    
}


#flexIconTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--darkGrayCyan);
    border-radius: 3px;
    margin-bottom: 30px;
}

#dollarIcon{
    height: 1.2em;
}
#total{
    border: none;
  background-color: var(--darkGrayCyan);
    color: var(--textCyan);
    text-align: right;
    font-size: 1.2em;
    font-weight:800;
    max-width: 50%;
}
#total:focus{
    outline: none;
    background: transparent;
}
#totalPeopleInput{
    outline: none;
    background: transparent;
}



#tipSelection{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 18px;

}
.tipPercent{

    padding: 5px;
    font-size: 1.3em;
    border-radius: 5px;
    cursor: pointer;
    min-width: 0;
    color:white;
    background-color: var(--tipBGCyan);
    border: none;
    font-weight: 600;
    padding: 15px;
    
}



#active{
    background-color: var(--highLightCyan);
    color: var(--textCyan);
}



#tipPercentCustom{
    cursor:text;
    color: var(--textCyan) ;
    text-align: right;
    background-color: var(--darkGrayCyan);
    padding: 10px;
    border: none;
}


#tipPercentCustom:focus{
    outline: none;
    background: transparent;
}
#totalPeople{
    margin-bottom: 40px;

}
#totalPeopleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--darkGrayCyan);
    margin: 10px 10px;

}
#peopleIcon{
    height: 1.2em;
 
}
#totalPeopleInput{
    border: none;
    background-color: var(--darkGrayCyan);
      color: var(--darkCyan);
      text-align: right;
      font-size: 1.2em;
      font-weight:800;
      max-width: 50%;
}

#calcValues{
   display: flex;
   flex-direction: column;
   border-radius: 20px;
height: 350px;
max-width: 100%;
justify-content: space-evenly;
align-items: center;
background-color:var(--tipBGCyan);


}
.tipAmountContainer{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 90%;
    align-items: center;
   margin: 10px;
   color: var(--overPersonColor)
   
}
.calcOverPersonFlex{
display: flex;
flex-direction: column;
color: var(--abovePersonColor);
}
.overPersonCol{
    color: var(--underPersonColor);
    font-size: .8em;
}

.tipCalcStyle{
    font-size: 2rem;
    color: var(--highLightCyan);
    
}
#resetBttContainer{
    min-width: 90%;
}
#resetBtt{
    margin-top: 20px;
 font-size: 1.2rem;
    min-width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--highLightCyan);
    color: var(--textCyan);
    cursor: pointer;
    font-weight: 700;
}


@media (min-width:1440px){
#title{
    padding: 20px;
    margin-top: 50px

}
    #mainBody{
        margin-bottom: 300px;
        height: 80%;
        max-width: 80%;
       
        }
        #innerBody{
            margin-top: 10px;
        
        }
        #billTotal{
            margin-bottom: 5px;
            
            }
            .sectionTitle{
            margin-bottom: 5px;
            
            }
        #innerBody{
            display: grid;
            grid-template-areas: 
            "bill  calc"
            "tip  calc"
            "people  calc";
            min-width:0;
            grid-auto-columns: minmax(0, 1fr);
            height: 90%;
        }
      
        #billTotal{
            grid-area: bill;
            max-width: 90%
     
        }
        #tipPercentConainter{
            grid-area: tip;  
        }
        .tipPercent{
       max-width:90%;
       height: 45px;
       padding: 0.01em;
       transition: background-color linear .5s;
        }
        .tipPercent:hover{
            background-color:var(--hoverEffect)
        }

        #tipPercentCustom{

            text-align: center;
            font-size: 1.3em;
            padding: .01em;
        
  
        }
        #tipSelection{
            grid-template-columns: repeat(3,1fr);
            max-width:92%;
            grid-gap: 10px;
        }
    
#totalPeople{
    grid-area: people;
    max-width: 90%;

}
#calcValues{
    grid-area: calc;
    max-width: 100%;
  height: 90%;
  position: relative;
 

  
}
#tipAmountContainer1{
    position: absolute;
    top:10%;

}
#tipAmountContainer2{
    position: absolute;
    top:30%;

}
#resetBttContainer{
    position: absolute;
    bottom: 8%;
  
 
}
#resetBtt{
    transition: background-color linear .5s;
}
#resetBtt:hover{
        background-color:var(--hoverEffect)
}
}
